.font-list {
    font-size: .6875rem;
}

.dolar-img {
    border-radius: 0 0 10px 0 ;
}

.dolar {
    
    border-top:  solid #f18219 8px!important;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 10px 10px 5px 0px rgba(158, 157, 157, 0.404);
}

/* .dolar-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
} */