.botonvolver{
    background: #ff6f00;
    border-color: #ffffff;
    
}

.margenFondo{
    margin-top: 10vh;
}

.botonvolver:hover{
    color: #ff6f00;
    background-color: white;
    border-color:#ff6f00;
    
}

.cartel{
    height: 50%;
    width: 50%;
}